# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
.venv/
env/
venv/
ENV/

# Database files
*.sqlite3
*.db-journal

# Environment variables & local secrets
.env
.env.local

# IDE & Editor files
.vscode/
.idea/
*.swp

# Log files
logs/*.log
